{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'css/addC.css' %}" rel="stylesheet">
    <title>AgendaIF - Inicio</title>
</head>

<body>
    <header>
        <nav>
            <h1>AGENDAIF</h1>
            <ul>
                <li><a href="{% url 'allEvents' %}">Home</a></li>
                <li><a href="{% url 'home' %}">Meus eventos</a></li>
                <li><a href="{% url 'today' %}">HOJE</a></li>
            </ul>

            <div class="menu">
                <a href="{% url 'addClassroom' %}"><button>Adicionar evento</button></a>
                    
                <ul class="dropdown">
                    <li><a href="#"><img src="{% static 'img/you.svg' %}"></a></li>
                        <ul id="dropdown">
                            <li><a href="#">{{user.name}}</a></li>
                            <li><a href="{% url 'about' %}">Sobre</a></li>
                            <li><a href="{% url 'leave' %}">Sair</a></li>
                        </ul>
                </ul>
            
            </div>

        </nav>

        <div class="line"></div>

    </header>

    <main>
        {%block 'content' %}
        {% endblock %}
    </main>


    <footer>
        <div class="line"></div>
        <p>© Desenvolvido em Django</p>
        </div>
    </footer>
    
</body>

<script src="{% static 'js/scripts.js' %}"></script>
</html>